.copy:hover {
    color: rgb(63, 71, 120);
    transition-duration: 200ms;
    cursor:pointer
}

h1 {
    font-weight: normal;
    font-size: 40px;
}


 h2 {
    font-weight: normal;
    font-size: 25px;
 }

 .chart-wrapper {
    display: flex;
    overflow: hidden;
    max-height: 200px;
}

