@media (max-width: 540px) {
    .date { 
        margin-top: 0px;
    }
}

@media (min-width: 540px) {
    .date {
        margin-top: 10px;
    }
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}


.card:hover {
    background-color: rgb(209, 220, 255) !important;
    transition-duration: 100ms;
  }

.card {
    margin-bottom: 15px;
}

.btn-group {
    margin-bottom: 10px;
}



h1 {
    font-size: 24px;
    margin-bottom: 0px;
}