.card {
    padding: 10px
}

button {
    margin-top: 15px;
}

img {
    margin: 0px;
}

.tournament-img {
    border-radius: 10px;
}

.tournament-name {
    font-size: 25px;
    vertical-align: middle;
}

.period {
    margin-top: 5px;
}

.card {
    margin-bottom: 10px;
    border-radius: 10px;
}

.flag {
    width: 30px; 
    height: 30px; 
    border-radius: 30px;
    border: solid 1px rgb(224, 224, 224);
    vertical-align: middle;
}


.heading {
    font-size: 28px;
    display: inline;
    vertical-align: bottom;
}

.new-trnm-btn {
    float: right;
    margin-top: 0px;
    margin-bottom: 10px;
}

.new-game-btn {
    margin-top: 0px;
    margin-left: 25px;
}

.add-icon:hover {
    color: rgb(136, 136, 136);
    cursor:pointer;
    transition-duration: 400ms;
}

.add-icon {
    color: rgb(46, 46, 46);
    font-size: 20px;
    vertical-align: middle;
}

.tournament {
    margin-left: 10px;
    vertical-align: middle;
}

.game {
    margin-left: 10px;
}


.rotate{
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.rotate-180.down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

