
.flag {
    width: 30px; 
    height: 30px; 
    border-radius: 30px;
    border: solid 1px rgb(224, 224, 224);
    vertical-align: middle;
}

.card {
    margin-bottom: 15px;
}

.container {
    padding: 1vw;
}

.card-body {
    padding: 0.5vw;
}

.result {
    margin-top: 0px;
}

p {
    margin-bottom: 10px;
    margin-top: 10px;
}

input {
    width: 55px;
    text-align: center;
}

.invalid-input {
    background-color: rgb(255, 184, 173);
    border: solid 2px rgb(255, 116, 116);
    border-radius: 5px
}

.predicted-card {
    background-color: rgb(243, 243, 243);
}

.predicted-button {
    display: none;
}

button {
    margin-top: 10px;
}

.country {
    margin-top: 10px;
}

.game-status {
    margin-bottom: 5px;
}

.rounded-pill {
    font-size: 15px; 
    font-weight: normal; 
    margin-top: 3px;
}

.bg-danger {
    background-color: rgb(255, 69, 69)!important;
}

.bg-warning {
    background-color: rgb(248, 217, 62)!important;
}

.bg-primary {
    background-color: rgb(138, 199, 26)!important;
}

.bg-success {
    background-color: rgb(81, 182, 82)!important;
    vertical-align: middle!important;
}

.btn-group  {
    margin-top: 0px;
    margin-bottom: 10px;
}
