.flag {
    width: 30px; 
    height: 30px; 
    border-radius: 30px; 
    vertical-align: middle;
}

.card {
    margin-bottom: 15px;
}



input {
    width: 55px;
    text-align: center;
}

.invalid-input {
    background-color: rgb(255, 184, 173);
    border: solid 2px rgb(255, 116, 116);
    border-radius: 5px
}

.predicted-card {
    background-color: rgb(243, 243, 243);
}

.predicted-button {
    display: none;
}