@media only screen and (min-width: 576px) {
    .navbar .navbar-nav .nav-item .nav-link {
      padding: 0 1em;
    }
    .navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
      border-right: 1px solid #c3c3c3;
    }
}

.dropdown-toggle::after {
  display:none;
}